.stock-detail-container {
  padding: 20px;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.chart-container {
  position: relative;
  height: 500px;
  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
}
