<div class="stock-detail-container">
  <h2>جزئیات سهام</h2>
  <p>کد سهام: {{ code }}</p>

  <div class="container">
    <div class="row mb-3">
      <div class="col">
        <div class="d-flex gap-4 align-items-center">
          <mat-form-field appearance="fill">
            <mat-label>نوع نمایش</mat-label>
            <mat-select [(ngModel)]="selectedView" (selectionChange)="onViewChange()">
              <mat-option *ngFor="let type of viewTypes" [value]="type.value">
                {{type.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>نوع داده</mat-label>
            <mat-select [(ngModel)]="selectedDataType" (selectionChange)="onDataTypeChange()">
              <mat-option *ngFor="let type of dataTypes" [value]="type.value">
                {{type.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div *ngIf="isLoading" class="text-center">
          <mat-spinner diameter="40"></mat-spinner>
        </div>
        <canvasjs-chart *ngIf="!isLoading && showChart" [options]="chartOptions" (chartInstance)="chartInstance($event)"></canvasjs-chart>
      </div>
    </div>
  </div>
</div>
